/* QUESTÃO 1 - Cor do fundo do cabeçalho */
header {
    background-color: blue;
  }
    
  /* QUESTÃO 2 - Fonte serifada para todos os títulos */
  h1, h2 {
    font-family: serif;
  }
  
  /* QUESTÃO 3 - Links da barra de navegação em negrito */
  nav a {
    font-weight: bold;
  }
  

